<html>
<head>
    <link rel="icon" href="favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
    <script src="/controller/routeConfig.js"></script>
    <script src="/controller/orderController.js"></script>
    <title>Starbucks</title>
    <script>
        function addRow(tableID){
            var table = document.getElementById(tableID);
            var rowCount = table.rows.length;
            var row = table.insertRow(rowCount);
            if(rowCount > 1) {
                var colCount = table.rows[rowCount - 1].cells.length;
                for (var i = 0; i < colCount; i++) {
                    var newcell = row.insertCell(i);
                    newcell.innerHTML = table.rows[rowCount - 1].cells[i].innerHTML;
                    newcell.style.textAlign = 'center';
                    if (i === colCount - 2) {
                        var smallvalue = $('[ng-controller="orderController"]').scope().prices.Small;
                        newcell.childNodes[0].innerHTML = "$ " + smallvalue;
                    } else {
                        switch (newcell.childNodes[0].type) {
                            case "number":
                            case "text":
                                newcell.childNodes[0].value = "1";
                                break;
                            case "select-one":
                            case "dropdown":
                                newcell.childNodes[0].selectedIndex = 0;
                                break;
                        }
                    }
                }
            }else{
                var newcell = row.insertCell(0);
                newcell.innerHTML = "<select class='dropdown' id='coffee' name='name'> <option value='Americano'>Americano</option> <option value='Cappuccino'>Cappuccino</option> <option value='Espresso'>Espresso</option> <option value='Latte'>Latte</option> <option value='Macchiato'>Macchiato</option> <option value='Mocha'>Mocha</option> </select>";
                newcell.style.textAlign = 'center';
                var newcell = row.insertCell(1);
                newcell.innerHTML = "<input name='qty' required min='1' max='100' value='1' class='form-control input-sm' id='inputsm' type='number'>";
                newcell.style.textAlign = 'center';
                var newcell = row.insertCell(2);
                newcell.innerHTML = "<select class='dropdown' id='milk' name='milk_type'> <option value='Whole'>Whole</option> <option value='Low-fat'>Low-fat</option> <option value='Fat-free'>Fat-free</option> </select>";
                newcell.style.textAlign = 'center';
                var newcell = row.insertCell(3);
                newcell.innerHTML = "<select class='dropdown' id='size' onchange='sizeChanged(this)' name='size'> <option value='Small' selected>Small</option> <option value='Medium'>Medium</option> <option value='Large'>Large</option> </select>";
                newcell.style.textAlign = 'center';
                var newcell = row.insertCell(4);
                var smallvalue = $('[ng-controller="orderController"]').scope().prices.Small;
                newcell.innerHTML = "<label for='myvalue'>$ "+ smallvalue +"</label>";
                newcell.style.textAlign = 'center';
                var newcell = row.insertCell(5);
                newcell.innerHTML = "<span type='button' class='remove glyphicon glyphicon-remove-sign' style='color:red' onclick='$(this).parent().parent().remove();'></span>";
                newcell.style.textAlign = 'center';
            }
        };

        function sizeChanged(element) {
            var size = $(element).val();
            var scope = $('[ng-controller="orderController"]').scope();
	        $(element).parent().parent().find("label[for='myvalue']").html("$ " + scope.prices[size]);
        };
    </script>
</head>

<body ng-app="hackathonApp" ng-controller="orderController">
<div>
    <h1 class="text-center jumbotron">Starbucks Coffee Shop</h1>
    <div class="row">
        <div class="text-center">
            <h3 ng-show="{{isError === true}}"
                ng-hide="{{isError === false}}" style="color: red">{{ errorMessage }}</h3>
        </div>
    </div>
</div>
<div class="ng-view">

    <!-- app pages load here -->
</div>
</body>
</html>​
