<div id="editorder" ng-controller="orderController" ng-init="getOrderDetails()">
    <form class="container" id="myForm" ng-submit="updateOrder()">
        <div class="panel panel-info">
            <div class="panel-heading">Order</div>
            <div class="panel-body">
                <div class="row top-buffer">
                    <div class="col-md-6">
                        <h4 style="display: inline">Order from: </h4>
                        <h3 style="display: inline"> {{order.location}}</h3>
                    </div>
                </div>
                <hr/>
                <div class="row top-buffer">
                    <div class="col-md-6 text-left"><h4>Build your order here</h4></div>
                    <div class="col-md-6 text-right">
                        <button id="add" class="btn btn-info" onclick="addRow('myTable')">Add Item</button>
                        <button id="edit" class="btn btn-success" ng-click="allOrders()">All Orders</button>
                    </div>
                </div>
                <div class="top-buffer">
                    <table class="table table-striped table-hover" id="myTable">
                        <thead>
                        <tr>
                            <th class="col-md-3 text-center">Coffee</th>
                            <th class="col-md-2 text-center">Quantity</th>
                            <th class="col-md-3 text-center">Milk Type</th>
                            <th class="col-md-2 text-center">Size</th>
                            <th class="col-md-2 text-center">Price</th>
                        </tr>
                        </thead>
                        <tbody id="form">
                        <tr class='Box divbutton' ng-repeat="item in order.items">
                            <td class="text-center">
                                <select class="dropdown" id="coffee" name="name" ng-model="item.name">
                                    <option ng-repeat="name in coffees.names"
                                            value="{{name}}">{{name}}</option>
                                </select>
                            </td>
                            <td class="text-center">
                                <input required name="qty" maxlength="2" ng-model="item.qty" class="form-control input-sm" id="inputsm" type="number"/>
                            </td>
                            <td class="text-center">
                                <select class="dropdown" id="milk" name="milk_type"  ng-model="item.milk_type">
                                    <option ng-repeat="milk_type in coffees.milk_types"
                                            value="{{milk_type}}">{{milk_type}}</option>
                                </select>
                            </td>
                            <td class="text-center">
                                <select class="dropdown"  ng-model="item.size" id="size" onchange="sizeChanged(this)" name="size">
                                    <option ng-repeat="size in coffees.sizes"
                                            value="{{size}}">{{size}}</option>
                                </select>
                            </td>
                            <td class="text-center"><label for="myvalue">$ {{prices[item.size]}}</label></td>
                            <td>
                    <span type="button" class="remove glyphicon glyphicon-remove-sign" style="color:red"
                          onclick="$(this).parent().parent().remove();"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel-footer text-center clearfix">
                <button class="btn btn-primary" type="submit">Update Order</button>
            </div>
        </div>
    </form>
</div>